body{
	font-family: helvetica, arial, sans-serif;
	font-size: 20px;
}

header{
	height: 120px;
	background-color: whitesmoke;
	color: black;
	font-weight: bold;
}


footer{
	background-color: whitesmoke;
	color: black;
	text-align: center;
	padding: 30px;
}

.container{
	margin: auto; width: auto;
}

#conteudo{
	background-color: white;
	padding: 140px;
	text-align: left;
}

#menu{
	float: right;
	text-decoration: none;
	margin-top: 10px;
	padding-right: 10px;
}

#menu a{
	text-decoration: none;

}

#menu a:hover{
	background-color: white;

}